.app-comp {
  background-color: #00327F;

}
.quote-h{
  color: aliceblue;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.tag-line{
  color: aliceblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.main-header{
  background-image:
}

.main-header{
  background-color: black;
  height: 200px;
}
