.app-comp {
  background-color: #00327F;
  background-image: url('../assets/img/books.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.quote-h {
  color: aliceblue;
  font-family: 'Engagement', cursive;
}

.tag-line {
  color: aliceblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-header {}
