.card-body {
  /* background-color: #4C92FF; */
  opacity: 0.5;
}

.card-footer {
  background-color: #ffffff;
  opacity: 0.6;
}

.fas {}

.fa-thumbs-up {
  color: green;
  size: 3em;
}

.qoutes {
  width: 30em
}

.fa-angle-double-down {
  size: 4em;
}

.mainQuote {
  font-size: 1.3em;
  font-family: 'Kite One', sans-serif;
}
