.card-body {
  /* background-color: #4C92FF; */
  opacity: 0.5;
}

.card-footer {
  background-color: #ffffff;
  opacity: 0.6;
}

.fas {}

.fa-thumbs-up {
  color: #044C29;
  size: 3em;
}

.fa-thumbs-up:hover {
  color: #97ED8A;
}

.fa-thumbs-down {
  color: #CC0000;
}

.fa-thumbs-down:hover {
  color: #FF4C4C;
}

.qoutes {
  width: 30em
}

.fa-angle-double-down {
  size: 4em;
}

.mainQuote {
  font-size: 1.3em;
  font-family: 'Kite One', sans-serif;
}

.card {
  color: gold;
  background-color: black;
  opacity: 0.4;
  border: none;
}

.card-body {
  color: white;
  background-color: none;
  opacity: 1;
  border: none;
}
