<div class="container d-flex justify-content-center">
  <div class="d-flex flex-column  ">
    <div class="form">
      <app-form-quote (addQuote)='addNewQuote($event)'></app-form-quote>
    </div>
    <div class="qoutes mt-4">
      <div *ngFor='let quote of quotes ;let i = index'>
        <div class=" border card mb-5  d-flex" appSelected='quoteHighlight'>
          <div class="card-body">
            <p class="text-center mainQuote">"{{quote.quote}}"</p>
          </div>
          <div class="info">
            <div class="card-body">
              <p class="float-left" (click)='toogleDetails(i)' appUnderline>
                <i class="fas fa-angle-double-down"></i>More Details</p>
              <div class="vote float-right">
                <div class="upvote float-left mr-4">
                  <i class="far fa-thumbs-up fa-3x" (click)='upVote(i)'></i>
                  <!-- <button type="button" class="btn btn-success">UPVOTE</button> -->
                </div>
                <div class="downvote float-right mr-2">
                  <i class="far fa-thumbs-down fa-3x " (click)='downVote(i)'></i>
                  <!-- <button type="button" class="btn btn-danger" (click)='downVote(i)'>DOWNVOTE</button> -->
                </div>
              </div>
            </div>
            <div>
            </div>
            <div class="card-body">
              <app-quote-details *ngIf='quote.showDetails' [quote]='quote' (isComplete)='quoteDelete($event,i)'></app-quote-details>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
